@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  from { 
    transform: translate(-50%, 20px); 
    opacity: 0; 
  }
  to { 
    transform: translate(-50%, 0); 
    opacity: 1; 
  }
}

.animate-slide {
  animation: slide 0.5s ease-out;
}
